<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="__ROOT__/Public/lib/html5.js"></script>
<script type="text/javascript" src="__ROOT__/Public/lib/respond.min.js"></script>
<script type="text/javascript" src="__ROOT__/Public/lib/PIE_IE678.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="__ROOT__/Public/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="__ROOT__/Public/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="__ROOT__/Public/lib/Hui-iconfont/1.0.7/iconfont.css" />
<link rel="stylesheet" type="text/css" href="__ROOT__/Public/lib/icheck/icheck.css" />
<link rel="stylesheet" type="text/css" href="__ROOT__/Public/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="__ROOT__/Public/static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="__ROOT__/Public/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>网站管理系统指南</title>
</head>
<body>
<div class="page-container">
	<div class="panel panel-default">
<!-- 		<div class="panel-header" style="background-color:#f2f9ff;">
			<center>
				<img src="__ROOT__/Public/images/web_1.jpg">
			</center>
		</div>
		<div class="panel-body" style="background-color:#f2f9ff;">
			<center>
				<div><img src="__ROOT__/Public/images/web_2.jpg" alt=""></div>
				<a target="_blank" href="http://www.cn77.cn/"><img src="__ROOT__/Public/images/web_3.jpg" alt=""></a>
			</center>
		</div> -->
		<li style="background:#ddd;line-height:55px;font-size:14px;">1、为了您的账号密码安全，交付使用之后请及时修改密码，并定期更新密码（人员变动等情况下，请务必注意密码安全）。</li>
         <li style="background:#ddd;line-height:55px;font-size:14px;">2、系统的密码采用MD5加密（不可逆算法），无法通过数据库来查看密码，如果您忘记了密码，请联系我们重置密码。</li>
         <li style="background:#ddd;line-height:55px;font-size:14px;">3、请您务必不要使用简单密码，例如123456、admin、admin888或者是网站域名等容易猜测的密码，建议采用字母和数字的组合（很多网站被攻击是由于密码过于简单引起的）。</li>
         <li style="background:#ddd;line-height:55px;font-size:14px;">4、系统管理员只有一个且不能删除或者禁用，如需要多人管理，可以共用同一账户，用户不能再创建用户。</li>
         <li style="background:#ddd;line-height:55px;font-size:14px;">5、系统中使用到排序的地方，默认都是数字越小，排序越靠前，如果排序数字大小相等，排序默认根据数据库返回的顺序。</li>
         <li style="background:#ddd;line-height:55px;font-size:14px;">6、系统中所有上传文件的地方都有上传大小和格式的限制，一般图片格式为gif或者jpg，一般文件格式为rar压缩文件。</li>
         <li style="background:#ddd;line-height:55px;font-size:14px;">7、上传文件的大小受系统设置的限制，同时也受网站空间大小的限制，如果无法上传，请确认上传图片大小是否过大或者网站空间是否已满。</li>
         <li style="background:#ddd;line-height:55px;font-size:14px;">8、目前存在的浏览器版本很多，为了更好的编辑网站内容，建议采用主流的版本的浏览器，避免编辑器或其他内容由于浏览器不兼容或不支持导致无法操作</li>
         <li style="background:#ddd;line-height:55px;font-size:14px;">9、编辑器上传的图片、文件和视频等都以相对路径的方式保存，如果您更改了网站的路径，会导致内容中的文件无法正常显示或者链接，建议不要轻易变动站点文件夹的目录结构（变更域名不影响）。</li>
	</div>
</div>
<div style="position:fixed;bottom:0; width:100%; height:23px;text-align: center;background:#eee;">Copyright&nbsp; 2003-2017&nbsp; WEETOP &nbsp;all &nbsp;rights&nbsp; reserved&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.zjteam.com/" target="_blank">杭州帷拓科技有限公司版权所有</a>
</div>

<script type="text/javascript" src="__ROOT__/Public/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__ROOT__/Public/static/h-ui/js/H-ui.js"></script> 
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?080836300300be57b7f34f4b3e97d911";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F080836300300be57b7f34f4b3e97d911' type='text/javascript'%3E%3C/script%3E"));
</script>
</body>
</html>