@charset "utf-8";
/* CSS Document:此样式为后台核心样式，不能做修改*/
/*********************************通用样式**********************************/
html{ margin:0; padding:0;}
body{ margin:0; padding:0;}
ul{ margin:0; padding:0;}
li{ margin:0; padding:0; list-style:none;}
ol{ margin:0; padding:0}
h2,h3,h4{ margin:0; padding:0;}
a{ text-decoration:none;}
p{ margin:0; padding:0; text-indent:2em; padding:0 30px 0 12px; line-height:20px;}
.floatl{ float:left;}
.floatr{ float:right;}
.clear{ clear:both;}
.dian{overflow: hidden;white-space: nowrap;-o-text-overflow: ellipsis; /*--4 opera--*/text-overflow: ellipsis;}
.fl{ float:left;}
.fr{ float:right;}
.cl{ clear:both;}
.cl_ie6{ _clear:both;}
.yincang{ display:none;}
.xianshi{ display:block;}
.shou{ cursor:pointer;}
/******************************index样式************************************/
.box{ width:100%; height:auto; padding:0; margin:0; position:absolute;}
.Login_tubiao{ position:absolute; z-index:555; width:86px; height:83px;}
.top_baifen{ width:100%; height:68px; background:url(../images/top_bj.jpg) repeat-x; margin-bottom:12px;}
.top_guding{ width:1419px; height:68px; margin:auto; background:url(../images/top_bj.jpg) repeat-x;}
.logo_bj_l{ width:35px; height:68px; margin-left:50px; _margin-left:25px; background:url(../images/logo_bj_left.jpg) no-repeat;}
.logo_bj_c{ width:auto; height:68px; background:url(../images/logo_bj_center.jpg) repeat-x;}
.logo_bj_r{ width:35px; height:68px; background:url(../images/logo_bj_right.jpg) no-repeat;}
.guanli{ width:auto; height:68px; line-height:68px; font-size:12px; color:#fff; margin-left:50px;}
.quanxian{ width:auto; height:68px; line-height:68px; font-size:12px; color:#fff; margin-left:25px;}
.pre_login{ width:auto; height:68px; line-height:68px; font-size:12px; color:#fff; margin-left:25px;}
.shengyu_tishi{ height:15px; line-height:15px; font-size:12px; margin:25px 30px 0 0; color:#FFF;}
.shengyu_tishi_tubiao_green{ width:7px; height:13px; background:url(../images/fuwu_tishi_sanse.png) no-repeat; background-position:left top; margin-right:3px;}
.shengyu_tishi_tubiao_yellow{ width:7px; height:13px; background:url(../images/fuwu_tishi_sanse.png) no-repeat; background-position:left -13px; margin-right:3px;}
.shengyu_tishi_tubiao_red{ width:7px; height:13px; background:url(../images/fuwu_tishi_sanse.png) no-repeat; background-position:left -26px; margin-right:3px;}
.tuichu{ width:113px; height:31px; margin:12px 55px 0 0; _margin-right:20px; background:url(../images/btn_close.jpg) no-repeat;}
#tuichu{ width:113px; height:31px; border:0; border:none; background:none;}
.top_two{ width:1419px; height:34px; margin:auto;}
.top_two_l{ width:3px; height:34px; background:url(../images/dangqian_left_bj.jpg) no-repeat;}
.top_two_c{ width:1413px; height:34px; background:url(../images/dangqian_bj.jpg) repeat-x;}
.top_two_r{ width:3px; height:34px; background:url(../images/dangqian_right_bj.jpg) no-repeat;}
.dangqian_tubiao{ width:11px; height:13px; margin:12px 0 0 185px; _margin-left:92px; background:url(../images/houtai_tubiao.png) no-repeat; background-position:-16px top;}
.dangqian{ width:auto; height:13px; line-height:13px; margin:12px 0 0 10px; font-size:12px; color:#666;}
.gonggao_tubiao{ width:15px; height:15px; background:url(../images/houtai_tubiao.png)  no-repeat; background-position:left top; margin:12px 5px 0 0;}
#gonggao_gundong{ width:290px; height:15px; line-height:15px; overflow:hidden; float:right; font-size:12px; margin:11px 55px 0 0; _margin-right:30px;}
#gonggao_gundong a{height:15px; color:#515151;}
.gonggao_biaoti_li{ display:block; width:200px; float:left;}
.gonggao_shijian{ display:block; width:90px; float:left; text-align:right;}
/******************center样式*****************/
.center{ width:1415px; min-height:775px; _height:775px; margin:auto;}
.center_l{ width:162px; height:auto; background:url(../images/left_bj.jpg) repeat-y; border-right:1px solid #e7e7e7; padding-right:2px; margin-right:15px;}
.left_a{ width:162px; height:auto;} 
.biaoti_da{ width:162px; height:31px; cursor:pointer; background:url(../images/houtai_tubiao.png) no-repeat; background-position:left bottom; font-size:12px; font-weight:bold; text-align:center; line-height:31px; color:#666;}
.xiushi{ width:162px; height:3px; font-size:0px; background:#ff8903;}
.biaoti_li{ display:block; width:162px; height:28px; line-height:28px; font-size:12px; text-align:center; color:#676666; cursor:pointer; background:url(../images/houtai_tubiao.png) no-repeat; background-position:left -109px;}
.biaoti_li a{ display:block; width:162px; height:28px; line-height:28px; font-size:12px; text-align:center; color:#676666; cursor:pointer;}
.biaoti_li a:hover{ width:162px; height:28px; color:#fc8800; background:url(../images/houtai_tubiao.png) no-repeat; background-position:left -138px;}
.biaoti_li_click{ width:162px; height:28px; color:#fc8800; background:url(../images/houtai_tubiao.png) no-repeat; background-position:left -138px;}
.yincang{ display:none;}
.center_l_bottom{ width:162px; height:10px; background:url(../images/houtai_tubiao.png) no-repeat; background-position:left -98px;}
.center_l_xiushi{ width:162px; height:39px; font-size:12px; font-weight:bold; color:#FFF; text-align:center; line-height:33px; background:url(../images/left_top_xiushi.png) no-repeat; position:absolute; top:86px; _left:2px;}
.center_dianji{ width:10px; height:89px; position:absolute; z-index:5; top:200px; background:url(../images/houtai_tubiao.png) no-repeat; background-position:right -98px; cursor:pointer;}
.center_dianji2{ width:10px; height:89px; position:absolute; z-index:5; top:200px; background:url(../images/houtai_tubiao.png) no-repeat; background-position:right top; cursor:pointer;}
.center_main{ width:1234px; height:758px; overflow-y:scroll; margin-top:2px; padding:0; border:1px solid #a5d1ec; position:absolute; z-index:1; top:118px; background-color:#F2F9FF;}
.center_main2{ width:1405px; height:758px; margin-top:2px; padding:0; border:1px solid #a5d1ec; position:absolute; z-index:1;top:118px; background-color:#F2F9FF;}
.bottom_baifen{ width:100%; height:auto; background:#e9e9e9;}
.bottom_guding{ width:1419px; height:50px; background:#e9e9e9; margin:auto;}
.bottom_xinxi{ width:auto; height:50px; line-height:50px; text-align:center; font-size:14px; color:#333; margin-left:440px; _margin-left:220px;} 
.bottom_img{ width:81px; height:23px; margin:13px 0 0 10px;}

/**************************上部*************************/
.tab_top{ width:100%; height:27px; background:url(../images/caozuo_bj.jpg) repeat-x;}
.tubiao_list{ width:121px; height:27px; line-height:27px; font-size:12px; color:#333; text-align:left; padding-left:15px; margin-right:55px; _margin-right:30px;}
.caozuo_sub{ width:119px; height:auto; position:absolute; z-index:100; right:55px; _right:60px; top:27px; font-size:12px; background:#f3f3f3; border:#CCC 1px solid; border-bottom:none;}	
.caozuo_tubiao{ width:119px;  height:28px; line-height:28px; color:#5e5e5e; cursor:pointer; border-bottom:1px solid #c7c7c7; border-top:1px solid #FFF;}
.caozuo_tubiao:hover{ background:#dbdbdb; border-bottom:1px solid #c1c1c1; border-top:1px solid #e2e2e2;}
.tab_add,.tab_bianji,.tab_delete{ width:14px; height:14px; margin:2px 10px 0 10px; _margin:6px 5px 0 5px;}
.tab_all{  width:50px; height:20px; line-height:20px; font-size:12px; color:#515151;  margin-right:15px; padding-top:7px;}
.quanxuan_checkbox{ float:left; margin:6px 0 0 6px; _margin-left:1px;}
.quanxuan_txt{ height:33px; line-height:33px; float:left;}
/**************搜索按钮*************/
.tab_sousuo{ width:auto; height:19px; margin:4px 40px 0 0; _position:absolute; _z-index:101; _right:170px; _top:0px;}
.tab_sousuo_btn{ width:62px; height:18px; border:1px solid #5b8093; background:#ededed;}
#tab_sousuo_btn{ width:62px; height:18px; text-align:center; line-height:18px; color:#476d88; border:0; border:none;}
/**************时间搜索*************/
.sousuo_shijian{ width:230px; _width:223px; height:19px; margin-right:10px;}
.shijian_txt{ width:50px; text-align:center; height:19px; line-height:19px; font-size:12px; color:#515151;}
.shijian_input1{ width:75px; height:17px; border:1px solid #f0f0f0; background:#fff; margin-right:3px;}
#shijian_input1{ width:73px; height:15px; border:0; border:none; margin:0; padding:0; font-size:12px;}
.shijian_input2{ width:75px; height:17px; border:1px solid #f0f0f0; background:#fff; margin:0 0 0 3px;}
#shijian_input2{ width:73px; height:15px; border:0; border:none; margin:0; padding:0; font-size:12px;}
/**************类型搜索*************/
.leixing_txt{ width:50px; text-align:center; height:19px; line-height:19px; font-size:12px; color:#515151;}
.leixing_input{ width:auto; height:17px; border:1px solid #f0f0f0; background:#fff; margin:0 0 0 3px;}
#leixing_input{ width:auto; height:15px; border:0; border:none; font-size:12px;}
/**************名称搜索*************/
.sousuo_name{ width:200px; _width:201px; height:19px; margin-right:10px;}
.sousuo_name_txt{ width:50px; text-align:center; height:19px; line-height:19px; font-size:12px; color:#515151;}
.sousuo_name_input{ width:140px; height:17px; border:1px solid #f0f0f0; background:#fff; margin-right:3px;}
#sousuo_name_input{ width:138px; height:13px; line-height:13px; border:0; border:none; font-size:12px;}
.tab_center{ width:100%;}
/**************************表格*************************/
table tr,table td{ height:30px;}
.center_biaoge{ padding:7px 9px 7px 9px; _padding:0; }
.biaoge_biaoti{ font-size:12px; color:#FFF; height:30px;}
.biaoge_neirong{ font-size:12px; color:#333; height:30px; border:1px solid #d7e1ea;}
.biaoge_neirong td{ border:1px solid #d7e1ea;}
table{ border:10px solid #e2eaf3; color:#FFF; border-collapse: collapse;}
/**************************底部*************************/
.tab_bottom{ width:100%; height:27px; background:url(../images/caozuo_bj.jpg) repeat-x;}
.bottom_btn_zhuan{ width:37px; height:15px; margin-top:6px; margin-right:90px; _margin-right:45px;}
#bottom_btn_zhuan{ width:37px; height:15px; border:0; border:none; background:url(../images/go.gif) no-repeat; cursor:pointer;}
.bottom_go{ width:150px; height:15px; line-height:15px; font-size:12px; margin-top:6px; color:#515151;}
.go_input{ width:80px; height:13px; background:#FFF; border:1px solid #CCC; margin:0 4px 0 4px;}
#go_input{ width:80px; height:13px; background:#FFF; border:0; border:none;}
.bottom_btn_last{ width:37px; height:15px; margin-top:6px; margin-right:15px;}
#bottom_btn_last{ width:37px; height:15px; border:0; border:none; background:url(../images/last.gif) no-repeat; cursor:pointer;}
.bottom_btn_next{ width:43px; height:15px; margin-top:6px; margin-right:7px;}
#bottom_btn_next{ width:43px; height:15px; border:0; border:none; background:url(../images/next.gif) no-repeat; cursor:pointer;}
.bottom_btn_back{ width:43px; height:15px; margin-top:6px; margin-right:7px;}
#bottom_btn_back{ width:43px; height:15px; border:0; border:none; background:url(../images/back.gif) no-repeat; cursor:pointer;}
.bottom_btn_first{ width:37px; height:15px; margin-top:6px; margin-right:7px;}
#bottom_btn_first{ width:37px; height:15px; border:0; border:none; background:url(../images/first.gif) no-repeat; cursor:pointer;}
.bottom_dangqian{ width:auto; height:15px; margin-top:6px; margin-right:15px; font-size:12px; line-height:15px; color:#02505c;}
.bottom_dangqian span{ margin:0 5px 0 5px;}
/*********------------------------欢迎页面------------------------************/
.huanying_top{ width:100%; height:68px; padding-top:45px; border-bottom:1px solid #d7e3ef;}
.huanying_bottom{ width:100%; height:457px; border-top:1px solid #fff;}
.huanying_biaoti{ width:466px; height:47px; margin:auto;}
.huanying_img{ width:788px; height:415px; margin:auto;}
.huanying_bottom_biaoti{ width:133px; height:16px; margin:10px auto 5px auto;}
/*********------------------------基本设置------------------------************/
.jibenshezhi_box{ width:100%; min-height:532px; background:#f2f9ff; padding:20px 0 5px 0; font-size:12px;}
.input_zi{ font-size:12px; color:#333; padding-left:5px;}
.guding{ min-height:530px; margin:auto; margin-bottom:2px; padding-top:15px;}
.guding_list_div_800{ width:800px; height:auto; margin-top:15px;}
.guding_list_div_690{ width:690px; height:auto; margin-top:15px;}
.guding_list_div{ width:400px; height:auto;}
.guding_list_div_270{ width:270px; height:auto;}
.guding_list_div_200{ width:200px; height:auto;}
.guding_list_div_120{ width:120px; height:auto;}
.input_biaoti{ width:100px; height:30px; line-height:30px; text-align:right; color:#333;}
.box_input_800{ width:800px; height:30px; float:left;}
.box_input{ width:400px; height:30px; float:left; margin-top:15px;}
.box_input_270{ width:270px; height:30px; float:left; margin-top:15px;}
.box_input_200{ width:200px; height:30px; float:left; margin-top:15px;}
.box_input_120{ width:120px; height:30px; float:left; margin-top:15px;}
.div_input_690{ width:690px; height:28px; line-height:28px; border:1px solid #CCC; border-right:1px solid #EBEBEB; border-bottom:1px solid #EBEBEB;}
.div_input_390{ width:395px; height:28px; line-height:28px; border:1px solid #CCC; border-right:1px solid #EBEBEB; border-bottom:1px solid #EBEBEB;}
.div_input_290{ width:295px; height:28px; line-height:28px; border:1px solid #CCC; border-right:1px solid #EBEBEB; border-bottom:1px solid #EBEBEB;}
.div_input_160{ width:155px; height:28px; line-height:28px; border:1px solid #CCC; border-right:1px solid #EBEBEB; border-bottom:1px solid #EBEBEB;}
.div_input_100{ width:98px;  height:28px; line-height:28px; border:1px solid #CCC; border-right:1px solid #EBEBEB; border-bottom:1px solid #EBEBEB;}
.div_input_690 input{ width:684px; height:26px; line-height:26px; border:0; border:none; background:#fff;}
.div_input_290 input{ width:289px; height:26px; line-height:26px; margin:0; border:none; border:0;}
.div_input_390 input{ width:389px; height:26px; line-height:26px; margin:0; border:none; border:0;}
.div_input_160 input{ width:149px; height:26px; line-height:26px; margin:0; border:none; border:0;}
.div_input_100 input{ width:92px; height:26px; line-height:26px; margin:0; border:none; border:0;}
.div_input_select{ width:auto; height:auto; margin-top:5px; padding:0;}
.div_input_select select{ width:93px; height:20px;}
.div_input_select_130{ width:auto; height:auto; margin-top:5px;}
.div_input_select_130 select{ width:130px; height:22px;}
.input_checkbox{ width:19px; height:19px; margin-top:5px;}
.input_checkbox checkbox{ width:19px; height:19px;}
.jianjie_div_input{ width:698px; min-height:118px; border:1px solid #CCC; border-right:1px solid #EBEBEB; border-bottom:1px solid #EBEBEB;}
.jianjie_div_input textarea{ width:693px; _width:692px; min-height:118px; _height:118px; border:0; border:none; margin:0;}
.gonggao_textarea{ width:697px; height:370px; _float:right; _margin-top:-30px; _border:1px solid #d8d8d8; border:1px solid #d8d8d8\9;}
.gonggao_textarea textarea{ _width:695px; _height:368px;}
.biaoge_neirong textarea{ width:90%; height:18px;}
.box_beizhu{ width:100%; height:auto; color:#999; text-align:left;}
.box_beizhu span{ margin-right:5px; margin-left:108px; padding-top:3px; color:#F00; font-size:14px;}
.box_beizhu_270{ width:100%; height:auto; line-height:20px; color:#999; padding:5px 0 0 0px; text-align:left;}
.box_beizhu_270 span{ margin-right:5px; padding-top:3px; color:#F00; font-size:14px; margin-left:105px;}
.shezhi_name{ width:400px; height:30px; margin:auto; margin-top:20px;}
.btn_baocun{ width:130px; height:35px; line-height:45px; text-align:center; margin:30px auto 60px auto;}
.btn_baocun input{ width:130px; height:35px;}
.btn_beifen{ width:130px; height:35px; text-align:center;}
.btn_beifen input{ width:130px; height:35px;}
.fenlei_xl{ width:100px; height:25px; padding-top:5px;}
.fenlei_xl select{ width:90px; height:25px;}
/**************************分类管理*************************/
.kaiguan{ width:14px; height:14px;}
.input_paixu_box{ width:50px; height:18px;}
.input_paixu{ width:50px; height:16px; line-height:16px; background:none; border:none;}
.mouseover{ border:1px solid #f3f3f3;}
/**************************新增角色*************************/
.jueseAdd{ width:850px; height:auto; margin:auto; margin-top:30px;}
.jueseAdd fieldset{ width:100%; height:auto; border:#CCC 1px solid; margin-top:15px;}
.checkbox_legend{ margin:2px 0 0 2px; color:#39F;}
.juese_checkbox{ width:125px; height:30px; margin:0 8px 0 8px; color:#666;}
.checkbox_juese{ width:19px; height:19px; margin-top:5px;  margin-top:1px\9;}
.juese_checkbox div{ width:auto; height:30px; line-height:30px; }
/***********************************************************LOGIN***************************************************/
.login_box{ width:675px; height:auto; margin:90px auto 0 auto; background:#CCC;}
.login_boxT{ width:675px; height:87px; background:url(../images/1.jpg) no-repeat; background-position:left top;}
.login_boxM{ width:675px; height:auto; background:url(../images/1_04.jpg) repeat-y;}
.erweima{ width:198px; height:197px; margin:40px 0 0 50px;}
.login_right{ width:265px; height:auto; margin:30px 0 0 50px;}
.loginright_txt{ margin-top:10px; line-height:30px; font-size:16px; color:#333;}
.loginright_input{ width:260px; height:30px; border:1px solid #CCC; background:#FFF;}
.loginright_input input{ width:250px; padding-left:10px; font-size:16px; color:#666; height:30px; line-height:30px;}
.yanzheng_input{ width:260px; height:32px;}
.yanzheng_shuru{ width:120px; height:30px;}
.yanzheng_shuru input{ width:110px; padding-left:10px; font-size:16px; color:#666; height:30px; line-height:30px;}
.yanzheng_yz{ width:100px; height:32px; margin-left:15px; _margin-left:8px;}
.denglu_btntxt{ width:260px; height:35px; margin:20px 0 20px 0;}
.denglu_btn{ width:113px; height:35px; margin-right:20px; background:url(../images/1_08.gif) no-repeat;}
.denglu_btn input{ width:113px; height:35px; border:0; cursor:pointer; background:none;}
.denglu_txt{ width:auto; height:35px; line-height:35px;}
.denglu_txt a{ color:#666;}
.denglu_txt a:hover{ color:#F63;}
.login_boxB{ width:675px; height:79px; background:url(../images/1.jpg) no-repeat; background-position:left bottom;}
/***********************************************************password***************************************************/
.password_boxM{ width:675px; height:auto; background:url(../images/1_04.jpg) repeat-y; padding-top:40px;}
.pass_page{ width:600px; height:32px; margin:25px 0 0 50px;}
.pass_input{ width:195px; height:30px; border:1px solid #CCC; background:#FFF;}
.pass_input input{ width:185px; padding-left:10px; height:30px; line-height:30px;}
.pass_page1{ width:300px; height:32px;}
.pass_txt{ height:32px; line-height:32px; width:85px; font-size:16px; color:#555;}
.pass_btn{ width:113px; height:35px; margin:30px 0 30px 275px; background:url(../images/reset.gif) no-repeat;}
.pass_btn input{ width:113px; height:35px; background:none; border:0; cursor:pointer;}
.yanzheng_txt{ font-size:12px; color:#C63; line-height:32px;}
.yanzheng_btn{ width:96px; height:32px; margin-left:17px;}
.yanzheng_btn input{ width:96px; height:32px; cursor:pointer; border:1px solid #ccc; background:#d1d1d1; font-size:16px; color:#555;}
.loginB_txt{ height:79px; font-size:16px; color:#555; line-height:60px; padding-left:50px; word-spacing:15px;}
.liantian{ width:81px; height:23px; margin:20px 0 0 30px; cursor:pointer;}
/***********************************************************提现详细信息***************************************************/
.txxq_margin{ margin-bottom:10px;}
.tixian_xiangqing{ margin-top:13px;}
.tixian_xiangqing_danxuan{ width:600px; height:30px; padding-top:5px; font-size:14px; color:#444;}
.tixian_xiangqing_danxuan label{ margin-right:30px;}
.box_beizhu_textarea{ height:102px; margin-top:20px;}
.beizhu_textarea{ width:398px; height:100px; border:1px solid #CCC; background:#FFF;}
.beizhu_textarea textarea{ width:380px; height:80px; padding:10px 9px; margin:0; background:none; border:0;}
.tuSc{ width:770px; height:auto; margin:30px auto;}
.tusc_txt{ width:60px; height:35px; line-height:35px;}
.tusc_box{ width:710px; height:auto;}
.tusc_page{ width:710px; height:35px;}
.sc_btn{ width:180px; height:35px; margin-right:50px; background:#39C;}
.sc_btn input{ width:180px; height:35px; margin:0; padding:0; background:none; border:0; cursor:pointer; color:#FFF; font-size:16px; text-align:center; font-family:"微软雅黑";}
.jindu{ display:block; height:30px; line-height:30px; font-size:14px; color:#666;}
.tusc_tu{ width:710px; height:auto; float:left; margin-top:20px;}
.tusc_tus{ width:150px; height:27px; float:left; margin:0 25px 15px 0; line-height:27px; background:#FFF; border:1px solid #e8e8e8; font-size:14px; color:#666;}
.sctu_nm,.sctu_del{ display:block; float:left; margin-left:8px;}
.sctu_del{ background:#e8e8e8; width:22px; line-height:27px; text-align:center; cursor:pointer;}
.sctishi{ width:100%; height:auto; color:#999; text-align:left;}
.sctishi span{ margin-right:5px; padding-top:3px; color:#F00; font-size:14px;}



















