<include file="Public:header2"/>
<div class="center_weizhi"><!--位置导航-->
    <a href="\">首页</a>\
    <a href="{:U('danye/lists')}" id="over">新闻中心</a>
</div><!--位置导航结束-->
<div class="concentq"><!--正式内容-->
    <div class="concentq_nav1 float_l"><!--左边分类-->
        <!--添加-->
        <b><a href="{:U('danye/lists')}">新闻中心</a></b>
        <ul>
            <li><a  href="{:U('danye/lists')}" <if condition="empty($_GET['id'])">id="jingguo"</if>>全部新闻</a></li>
            <foreach name="newscate" item="vo" key="k">
                <li><a  href="{:U('danye/lists?id='.$vo['id'])}" <if condition="$_GET['id'] eq $vo['id']">id="jingguo"</if>>{$vo.cate_name}</a></li>
            </foreach>
        </ul>
        <!--添加结束-->

    </div><!--左边分类结束-->
    <div class="concentq_con float_r"><!--右边内容-->
        <div class="bangzhu_tit"><!--右边内容头部-->
            <p>{$cate}</p>
        </div><!--右边内容头部结束-->
        <div class="bangzhu_con">
            <!--添加-->
            <ul id="newslie">
                <volist id="vo" name="list">
                    <li><a href="{:U('danye/news?id='.$vo['id'])}" target="_blank">{$vo.addtime|date='Y-m-d',###}&nbsp;&nbsp;{$vo.title}</a></li>
                </volist>
                <div class="clear"></div>
            </ul>
            <if condition="empty($list)">
                <span style="margin-left:40%;font-size:20px;color:red">该类目暂无新闻</span>
            </if>
            <div class="mingxi_xyx">
             {$page}
            </div>
            <!--添加结束-->
        </div>
    </div><!--右边内容结束-->
    <div class="clear"></div>
</div><!--正式内容结束-->
<include file='public:footer'/>