<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{$config.title}</title>
<meta name="keywords" content="{$config.keyword}">
<meta name="description" content="{$config.description}">
<meta name="author"  content="郑州手机网站建设-高端网站建设专家-郑州七七网络科技有限公司,www.cn77.cn">
<meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1; minimum-scale=1; user-scalable=no;"/>
<link href="/Public/home/css/public.css" rel="stylesheet" type="text/css">
</head>

<body style=" background:#eaeaea">
<!--头部导航开始-->
<div class="header">
    <div class="header_l"><i class="fanhui" onclick="window.location='/order/lists.html';"><img src="/Public/home/images/fanhui.png" width="140" height="140"/></i></div>
    <div class="header_c">支付失败</div>
    <div class="header_r"><i class="tx" onclick="window.location='/';"><img src="/Public/home/images/sy.png" width="140" height="140"/></i></div>
</div><!--头部导航结束-->
<div class="succ_er">
  <div class="succ_le float_l"><img src="/Public/home/images/cuo.png" width="128" height="128"></div>
  <div class="succ_ri float_r">付款失败</div>
  <div class="clear"></div>
</div>
<div class="lainiu">
  <div class="lainiu_le float_l"><input type="button" onclick="window.location='/order/lists.html';" value="返回订单列表"/></div>
  <div class="lainiu_ri float_r"><input type="button" onclick="window.location='/';" value="返回首页"/></div>
  <div class="clear"></div>
</div>
</body>
</html>
