<include file="Public:header"/>

	<div class="wrapper wrapper_marg">
		<div class="user_box">
			<div class="container">
				<div class="orderPay_cot">
					<div class="orderPay_left">
						<div class="orderPay_top">
							<div class="orderPay_tit">
								<span>支付方式</span>
							</div>
							<div class="orderPay_style">
								<div class="orderR3_lis"><img src="/Public/home/images/zfb.png" alt="">支付宝</div>
							</div>
						</div>
						<div class="orderPay_bott">
							<div class="orderPay_total">
								<h3>￥1000</h3>
								<div class="orderPay_totalS">
									<div class="orderPay_lis">
										<a onclick="return check();">确认支付</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="orderPay_right">
						<div class="orderPayR_li">
							<div class="orderPay_tit">
								<span>订单信息</span>
							</div>
							<div class="orderPayR_cot">
								<div class="orderPayR_lis">
									<div class="orderPayR_img" style="background-image: url(/Public/home/images/store2_1.jpg)">
										<img src="/Public/home/images/store2_bg.png" alt="">
									</div>
									<div class="orderPayR_wz">
										<h5>浙江绿城男子球衣</h5>
										<p>L码</p>
									</div>
								</div>
								<div class="orderPayR_lis">
									<div class="orderPayR_img" style="background-image: url(/Public/home/images/store2_1.jpg)">
										<img src="/Public/home/images/store2_bg.png" alt="">
									</div>
									<div class="orderPayR_wz">
										<h5>浙江绿城男子球衣</h5>
										<p>L码</p>
									</div>
								</div>
							</div>
						</div>
						<div class="orderPayR_li">
							<div class="orderPay_tit">
								<span>收货地址</span>
							</div>
							<div class="orderPayR_addr">
								<h5>陈麟 1531111111</h5>
								<p>浙江 杭州 西湖区 创美▪华彩国际7幢</p>
							</div>
						</div>
						<div class="orderPayR_li">
							<div class="orderPay_tit">
								<span>备注信息</span>
							</div>
							<div class="orderPayR_addr">
								<p>无</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<include file="Public:footer"/>
</body>
</html>