<include file="Public:header"/>
    <style>
        .wrapper_marg{
            min-height: calc(100vh - 80px)
        }
    </style>
    <div class="wrapper wrapper_marg">
        <div class="search_box">
            <div class="container1">
                <form id="topic_search" method="get" action="{:U('search/jglist')}" onkeydown="if(event.keyCode==13)return topicsearch()">
                <div class="search_input">
                    <input type="text" placeholder="搜索" name="title" >
                    <img src="/Public/home/images/search.svg" alt="" style="cursor:pointer;" onclick="topicsearch();">
<!--                     <p><a href="#">龟背竹龟背竹龟背竹</a> | <a href="#">龟背竹</a> | <a href="#">龟背竹</a> | <a href="#">龟背竹</a><a href="#">龟背竹龟背竹龟背竹</a> | <a href="#">龟背竹</a> | <a href="#">龟背竹</a> | <a href="#">龟背竹</a></p> -->
                </div>
            </form>
            </div>
        </div>
    </div>
<script>
function topicsearch(){
    var val = $("#topic_search").find('input').val();
    if($.trim(val)==""){
        layer.alert('请输入搜索关键字');
        return false;
    }
    $("#topic_search").submit();
}
</script>
    <div class="fixed_right">
        <ul>
            <li><a href="/"><i class="fa fa-angle-up"></i></a></li>
            <li><a href="/"><i class="fa fa-home"></i></a></li>
            <li><a href="{:U('user/cart')}"><i class="fa fa-shopping-cart"></i></a></li>
            <li><a href="{:U('order/index')}"><i class="fa fa-user"></i></a></li>
            <li><a href="{:U('collect/space')}"><i class="fa fa-heart"></i></a></li>
        </ul>
    </div>
</body>
<script>
    $(function () {
    })
</script>
</html>