<include file="Public:header"/>

	<div class="wrapper wrapper_marg">

		<div class="aegisD_box">
			<div class="col-sm-8">
				<div class="aegisD_left">
					<div class="aegisD_img">
						<volist name="rollimg" id="vo">
							<div class="aegisD_lis active">
								<img src="{$vo}" alt="">
							</div>
						</volist>
					</div>
					<a href="javascript:;" class="aegisD_arrr"><i class="fa fa-angle-right"></i></a>
					<a href="javascript:;" class="aegisD_arrl"><i class="fa fa-angle-left"></i></a>
					<div class="aegisD_small">
						<ul>
							<volist name="rollimg" id="vo" key="k">
								<li <if condition="$k eq 1">class="active"</if>>
									<a href="javascript:;"><img src="{$vo}" alt=""></a>
								</li>
							</volist>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="aegisD_right">
					<h3>{$result.gname}<!-- <span>gardenia</span> --></h3>
					<h4>需要积分：{$result.xyjifen}</h4>
					<hr>
					<div class="aegisD_des">
						<p>{$result.description}</p>
						<a href="javscript:;">更多描述</a>
					</div>
					<hr>
					<div class="aegisD_wz">
						<p><b>运费</b><span>{$result.yunfei} 快递：{$result.yfmoney}</span></p>
						<p><b>销量</b><span style="color: #f25328">99568</span></p>
						<p><b>评论</b><span style="color: #f25328">10000</span></p>
						<!-- <p><b>积分</b><span style="color: #f25328">{$result.jifen} 青域分</span></p> -->
					</div>
				<!--需要提交的参数，隐藏 -->
				<form name="form1" method="get" action="{:U('Order/order')}">
					<div class="aegisD_btn">
						<select name="guige" id="guige">
							<option selected value="">规格</option>
							 <volist name="guige" id="vo">
								<option value="{$vo}">{$vo}</option>
							</volist>
						</select>
						<select name="amount" id="shuliang">
							<option selected value="">数量</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
						</select>
						<a onclick="jifen_order(this,{$result.id})" data-id=1 style="cursor: pointer;"><img src="/Public/home/images/aegisD1.png">
							<span>立即购买</span>
						</a>
                      <!-- <a onclick="add_cart(this,{$result.id})" data-id=1 style="cursor: pointer;"><img src="/Public/home/images/aegisd2.png">
							<span>加入购物车</span>
						</a> -->
					</div>
					<!-- <input name="amount" type="hidden" value="1"/> -->
					<input type='hidden' value="{$result.nums}" name='goodsnums'/>
					<input type='hidden' value="" name='quick'/>
					<input type='hidden' value="{$result.id}" name='id'/>
				</form>
					<div class="aegisD_txt">
						<p><img src="/Public/home/images/zs.png">商家详情页（含主图）以图片或文字形式标注的一口价、促销价、优惠价等价格。</p>
						<p><img src="/Public/home/images/zs.png">商家详情页（含主图）以图片或文字形式标注的一口价、促销价、优惠价等价格。</p>
						<p><img src="/Public/home/images/zs.png">商家详情页（含主图）以图片或文字形式标注的一口价、促销价、优惠价等价格。</p>
					</div>
					<div class="aegisD_follow">
						<ul>
							<li><a>
								<if condition="$result['is_coll'] eq 1">
									<img style="cursor:pointer;"  data-id=1 onclick="bucoll(this,{$result.id})" src="/Public/home/images/collect.svg" alt="">
								<else/>
									<img style="cursor:pointer;"  data-id=1 onclick="docoll(this,{$result.id})" src="/Public/home/images/collect.svg">
								</if>
							收藏商品</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="aegisD_box1" style="background-image: url(/Public/home/images/aegisDot_bg.jpg)">
			<div class="container">
				<div class="aegisD1_cot">
					<div class="row">
						<div class="col-sm-8">
							<h3>产品参数：</h3>
							<ul>
								{$result.description}
							</ul>
						</div>
						<div class="col-sm-4">
							<h3>青域承诺：</h3>
							<p>{$result.description}3</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="aegisD_box2" style="background-image: url(/Public/home/images/aegisDot2_bg.jpg)">
			<div class="container1">
				<div class="aegisD2_cot">
					<ul>
						<li class="active"><a href="javascript:;">产品详情</a></li>
						<li><a href="javascript:;">用户评价</a></li>
					</ul>
					<div class="aegisD2_wz">
						 {$result.text|htmlspecialchars_decode}
					</div>
				</div>
				<div class="aegisD3_cot">
					<div class="aegisD3_tit">
						<h3>用户评价</h3>
					</div>
					<div class="aegisd3_nav">
						<ul>
							<li <if condition="empty($_GET['ping'])">class="active"</if>><a href="/index.php/aegis/info/id/{$_GET.id}/#pjlist">全部（{$count.count}）</a></li>
							<li <if condition="$_GET['ping'] eq 1">class="active"</if>><a href="/index.php/aegis/info/id/{$_GET.id}/ping/1#pjlist">晒图（{$count.hcount}）</a></li>
							<li <if condition="$_GET['ping'] eq 2">class="active"</if>><a href="/index.php/aegis/info/id/{$_GET.id}/ping/2#pjlist">追评（{$count.zcount}）</a></li>
						</ul>
						<select onchange="pingChange()" id="pingpai">
							<option value="0" selected>推荐评价</option>
							<option value="1">好评优先</option>
							<option value="2">时间优先</option>
						</select>
					</div>
					<input hidden id="nowid" value="{$_GET.id}">
					<script>
                    function pingChange(){ 
					       var objS = $("#pingpai").find("option:selected").val();
					       //var nowid = document.getElementByName("nowid").value;
					        var nowid =document.getElementById("nowid").value;
					        if(objS==0){
					        	location.href="/index.php/aegis/info/id/"+nowid+"#pjlist";
					             ///location.href=window.location.href+"#pjlist";
					         }else{
					         	location.href="/index.php/aegis/info/id/"+nowid+"/pai/"+objS+"#pjlist";
					            //location.href=window.location.href+"/pai/"+objS+"#pjlist";
					         }
					 } 
					</script>
					<div class="aegisd3_bott">

						<volist id="vo" name="comments">
						<div class="aegisd3_lis">
							<div class="aegisd3_user">
								<div class="aegisd3_img">
									<img src="{$vo.headimg}" alt="" style="width: 35px;height: auto;">
								</div>
								<div class="aegisd3U_wz">
									<h3>{$vo.username}</h3>
									<p><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p>
								</div>
							</div>
							<div class="aegisd3_wz">
								<p>{$vo.content}</p>
								<if condition="!empty($vo['huifu'])">
								<div class="aegisd3_hf">
									<p><span>官方回复：</span>{$vo.huifu}</p>
								</div>
							</if>
							<if condition="$vo['status'] eq 2">
								<div class="aegisd3_zp">
									<p><span>追评：</span>{$vo.zuiping}</p>
								</div>
							</if>
							</div>
							<div class="aegisd3_date">
								<span>{$vo.addtime|date='Y-m-d',###}</span>
							</div>
						</div>
					   </volist>
						
						<div class="aegis_page">
							<ul>
								{$page}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

<include file="Public:footer"/>
</body>
<include file="Public:pfooter"/>
<script type="text/javascript">
//立即购买
function jifen_order(o,gid){
    var did=$(o).attr('data-id');
    if(did != 1){
        return false;
    }
    var quick=1;
    $('input[name=quick]').val(1);
    $(o).attr('data-id',0);
    var gnum = jQuery("#shuliang  option:selected").text();
    var stock=$("input[name=goodsnums]").val();
    var val =jQuery("#guige  option:selected").text();
    if(parseInt(gnum) > parseInt(stock)){
                alert('库存不足');
                $(o).attr('data-id',1);
                return false;
    }
    var url="{:U('jifen/buy')}";
    $.post(url,{gid:gid,val:val,gnum:gnum},function(data){
             if(data.status == 1){
                  //alert('订单提交成功');
                 // $('form[name=form1]').submit();
                  window.location="{:U('jifen/order')}"+"?id="+data.id+"&quick=1";
             }else{
                 alert(data.msg);
                 $(o).attr('data-id',1);
                 return false;
             }
    })

}
</script>
<script>
	$(function () {
		$('.aegisD_des a').click(function () {
			$('html,body').animate({
				'scrollTop': $('.aegisD2_cot').offset().top - 80
			})
		})

		$('.aegisD2_cot li').click(function () {
			if ($(this).index() == 0) {
				$('html,body').animate({
					'scrollTop': $('.aegisD2_cot').offset().top - 80
				})
			} else {
				$('html,body').animate({
					'scrollTop': $('.aegisD3_cot').offset().top - 80
				})
			}
		})

		if ($(window).width() > 768) {
			$('html,body').animate({
				'scrollTop': 0
			}, 100)

			if ($('.aegisD_right').outerHeight() < $(window).height() - $('.header').height()) {
				$('.aegisD_left,.aegisD_right').outerHeight($(window).height() - $('.header').height())
			} else {
				$('.aegisD_left').outerHeight($('.aegisD_right').outerHeight())
			}

			$('.aegisD_img').click(function () {
				if ($(this).hasClass('bigg')) {
					$('html').css('overflow-y', 'auto')
					$(this).removeClass('bigg')
					$('.aegisD_right').removeClass('move')
				} else {
					$('html,body').animate({
						'scrollTop': 0
					}, 100)
					$('html').css('overflow-y', 'hidden')
					$(this).addClass('bigg')
					$('.aegisD_right').addClass('move')
				}
			})
		} else {
			$('.aegisD_left').height($(window).height() * 0.5)
		}

		function aegisd_right() {
			aegis_ind = $('.aegisD_lis.active').index()
			if (aegis_ind < $('.aegisD_lis').length - 1) {
				aegis_ind++
			} else {
				aegis_ind = 0
			}
			$('.aegisD_small li').eq(aegis_ind).addClass('active').siblings().removeClass('active')
			$('.aegisD_lis').eq(aegis_ind).addClass('active').siblings().removeClass('active')
		}

		function aegisd_left() {
			aegis_ind = $('.aegisD_lis.active').index()
			if (aegis_ind > 0) {
				aegis_ind--
			} else {
				aegis_ind = $('.aegisD_lis').length - 1
			}
			$('.aegisD_small li').eq(aegis_ind).addClass('active').siblings().removeClass('active')
			$('.aegisD_lis').eq(aegis_ind).addClass('active').siblings().removeClass('active')
		}

		$('.aegisD_arrr').click(function () {
			aegisd_right()
		})

		$('.aegisD_arrl').click(function () {
			aegisd_left()
		})

		$('.aegisD_small li').click(function () {
			aegis_ind = $(this).index()
			$('.aegisD_small li').eq(aegis_ind).addClass('active').siblings().removeClass('active')
			$('.aegisD_lis').eq(aegis_ind).addClass('active').siblings().removeClass('active')
		})

		$(window).resize(function () {
			if ($('.aegisD_right').outerHeight() < $(window).height() - $('.header').height()) {
				$('.aegisD_left,.aegisD_right').outerHeight($(window).height() - $('.header').height())
			} else {
				$('.aegisD_left').outerHeight($('.aegisD_right').outerHeight())
			}

			if ($(window).width() > 768) {
				$('html,body').animate({
					'scrollTop': 0
				}, 100)

				if ($('.aegisD_right').outerHeight() < $(window).height() - $('.header').height()) {
					$('.aegisD_left,.aegisD_right').outerHeight($(window).height() - $('.header').height())
				} else {
					$('.aegisD_left').outerHeight($('.aegisD_right').outerHeight())
				}

				$('.aegisD_img').click(function () {
					if ($(this).hasClass('bigg')) {
						$('html').css('overflow-y', 'auto')
						$(this).removeClass('bigg')
						$('.aegisD_right').removeClass('move')
					} else {
						$('html,body').animate({
							'scrollTop': 0
						}, 100)
						$('html').css('overflow-y', 'hidden')
						$(this).addClass('bigg')
						$('.aegisD_right').addClass('move')
					}
				})
			} else {
				$('.aegisD_left').height($(window).height() * 0.5)
			}
		})

	})
</script>

</html>