<include file="Public:header" />

    <div class="wrapper wrapper_marg">
        <div class="main_ban">
            <img src="/Public/home/images/about.jpg" alt="">
            <div class="mainB_wz">
                <h3>关于我们</h3>
                <h5>about us</h5>
            </div>
        </div>

        <div class="about" style="background-image: url(/Public/home/images/about_bg.jpg)">
            <div class="ab_box1">
                <div class="container">
                    <div class="ab1_cot">
                        <div class="ab1_left">
                            <div class="ab_tit">
                                <h5>company profile</h5>
                                <h3>公司概况</h3>
                            </div>
                            <div class="ab1_wz">
                                <p>杭州青域律禾创业服务有限公司是专注于专业服务(咨询/财会/法律/翻译等)行业的公司，并通过国家工商管理局注册成立的专业化的公司，成立于2017年06月30日，注册资本100万人民币元。公司坐落于浙江省杭州市余杭区仓前街道龙潭路7号杭州未来研创园A座6楼601-1室，杭州青域律禾创业服务有限公司以规范、专业、创新、共赢的经营理念，高效贴心的服务，团结协作、敬业负责、服务奉献、求实进取的企业精神，始终贯彻以追求合作伙伴最大利益为目标，竭诚为合作伙伴提供最大程度的保障。我们将立志打造最精良的优秀团队，并为合作伙伴提供最优秀、最科学、最专业的服务，以获得合作者的信任和支持，打造属于我们自己的品牌。</p>
                            </div>
                        </div>
                        <div class="ab1_right">
                            <div class="ab1_img" style="background-image: url(/Public/home/images/about1.jpg)"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ab_box2">
                <div class="ab_tit tit_center">
                    <h3>公司荣誉</h3>
                    <h5>glories of company</h5>
                </div>
                <div class="ab2_cot">
                    <div class="swiper-container ab2_swiper">
                        <a href="javascript:;" class="ab2_arrl"><i class="fa fa-angle-left"></i></a>
                        <a href="javascript:;" class="ab2_arrr"><i class="fa fa-angle-right"></i></a>
                        <div class="swiper-wrapper">

                        <volist id="vo" name="list">
                            <div class="swiper-slide">
                                <a href="/Public/home/images/about2_1_1.jpg" rel="lightbox-myGroup">
                                    <div class="ab2_lis">
                                        <div class="ab2_img">
                                            <img src="/Public/home/images/about2_1.jpg" alt="">
                                            <img src="{$vo.imgurl}" alt="">
                                        </div>
                                        <div class="ab2_wz">
                                            <h5><i class="fa fa-angle-right"></i> {$vo.title}</h5>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </volist>
                            <div class="swiper-slide">
                                <a href="/Public/home/images/about2_1_1.jpg" rel="lightbox-myGroup">
                                    <div class="ab2_lis">
                                        <div class="ab2_img">
                                            <img src="/Public/home/images/about2_1.jpg" alt="">
                                            <img src="/Public/home/images/about2_1_1.jpg" alt="">
                                        </div>
                                        <div class="ab2_wz">
                                            <h5><i class="fa fa-angle-right"></i> 高新技术企业</h5>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ab_box3">
                <div class="container">
                    <div class="ab_tit tit_center">
                        <h3>公司文化</h3>
                        <h5>company culture</h5>
                    </div>
                    <div class="ab3_cot">
                        <div class="ab3_lis ab3_lis1">
                            <div class="ab31_cot">
                                <div class="ab31_img" style="background-image: url(/Public/home/images/about3_1.jpg)"></div>
                            </div>
                        </div>
                        <div class="ab3_lis ab3_lis2">
                            <div class="ab32_cot">
                                <div class="ab32_left">
                                    <div class="ab32_img" style="background-image: url(/Public/home/images/about3_2.jpg)"></div>
                                </div>
                                <div class="ab32_right">
                                    <div class="ab3_wz">
                                        <h3>团结，友爱<br>自强，不惜</h3>
                                        <p>企业文化，或称组织文化（Corporate Culture或Organizational
                                            Culture），是一个组织由其价值观、信念、仪式、符号、处事方式等组成的其特有的文化形象，简单而言，就是企业在日常运行中所表现出的各方各面。企业文化，或称组织文化（Corporate
                                            Culture或Organizational Culture），是一个组织由其价值观、信念、仪式、符号、处事方式等组成的其特有的文化形象，简单而言，就是企业在日常运行中所表现出的各方各面。</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ab3_lis ab3_lis3">
                            <div class="ab33_cot">
                                <div class="ab33_left">
                                    <div class="ab3_wz">
                                        <h3>团结，友爱</h3>
                                        <p>企业文化，或称组织文化（Corporate Culture或Organizational
                                            Culture），是一个组织由其价值观、信念、仪式、符号、处事方式等组成的其特有的文化形象，简单而言，就是企业在日常运行中所表现出的各方各面。企业文化，或称组织文化（Corporate
                                            Culture或Organizational Culture），是一个组织由其价值观、信念、仪式、符号、处事方式等组成的其特有的文化形象，简单而言，就是企业在日常运行中所表现出的各方各面。</p>
                                    </div>
                                </div>
                                <div class="ab33_right">
                                    <div class="ab33_img" style="background-image: url(/Public/home/images/about3_3.jpg)"></div>
                                </div>
                            </div>
                        </div>
                        <div class="ab3_lis ab3_lis4">
                            <div class="ab34_cot">
                                <div class="ab34_img" style="background-image: url(/Public/home/images/about3_4.jpg)"></div>
                                <div class="ab3_wz ab34_wz">
                                    <p>企业文化，或称组织文化（Corporate Culture或Organizational
                                        Culture），是一个组织由其价值观、信念、仪式、符号、处事方式等组成的其特有的文化形象，简单而言，就是企业在日常运行中所表现出的各方各面。企业文化，或称组织文化（Corporate
                                        Culture或Organizational
                                        Culture），是一个组织由其价值观、信念、仪式、符号、处事方式等组成的其特有的文化形象，简单而言，就是企业在日常运行中所表现出的各方各面。企业文化，或称组织文化（Corporate
                                        Culture或Organizational
                                        Culture），是一个组织由其价值观、信念、仪式、符号、处事方式等组成的其特有的文化形象，简单而言，就是企业在日常运行中所表现出的各方各面。企业文化，或称组织文化（Corporate
                                        Culture或Organizational Culture），是一个组织由其价值观、信念、仪式、符号、处事方式等组成的其特有的文化形象，简单而言，就是企业在日常运行中所表现出的各方各面。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<include file="Public:footer" />

</body>
<link rel="stylesheet" type="text/css" href="/Public/home/js/lightbox/css/lightbox.css">
<script src="/Public/home/js/lightbox/js/lightbox.js"></script>
<script>
    $(function () {

        lightbox.option({
            'disableScrolling': true,
            'wrapAround': true
        })
        
        if($(window).width()>1440){
            slidesPerView=5
        }else if($(window).width()>768 && $(window).width()<=1440){
            slidesPerView=4
        }else{
            slidesPerView=1
        }

        var mySwiper = new Swiper('.ab2_swiper', {
            prevButton: '.ab2_arrl',
            nextButton: '.ab2_arrr',
            slidesPerView: slidesPerView,
            loop: true,
            autoplay: 5000
        })

    })
</script>

</html>