*{ margin:0px; padding:0px;}
body{ background:url(../images/beijing1.jpg) repeat-x #023d63;}
.body{ width:1003px; height:613px; background:url(../images/beijing1.jpg) repeat-x; margin:0px auto; position:relative; left:-70px;}
.top{ width:100%; height:283px;}
.top1{ width:373px; height:100%; float:left;}
.top2{ width:630px; height:100%; float:left;}
.top2_1{ width:630px; height:180px;}
.top2_2{ width:630px; height:103px;}
.zhong{ width:100%; height:135px; background:url(../images/zhongbeijing.jpg) repeat-x;}
.zhong1{ width:383px; height:135px; float:left;}
.zhong2{ width:450px; height:135px; float:left; background:url(../images/zhong.jpg) no-repeat;}
.zhong2_1{ width:275px; margin-left:129px; margin-top:20px;}
.zhong3{ float:left; margin-left:30px !important; _margin-left:20px; margin-top:40px;}
.bottom{ font-size:12px; text-align:center; margin-left:100px; margin-top:15px; color:#78b5dc;}
.bottom a{ color:#FFF; text-decoration:none;}
.bottom a:hover{ text-decoration:underline;}